/* 由 MasterGo Variables 生成，请勿直接修改。 */

:root {
    --样式集合-特效-弹层-黑投影: 3px 6px 20px 0px rgba(15, 23, 42, 0.4);
    --样式集合-特效-新-白底小投影: 1px 2px 4px 0px rgba(30, 41, 59, 0.04);
    --样式集合-特效-新-hover投影: 8px 16px 24px 0px rgba(30, 41, 59, 0.06);
    --样式集合-填充-辅红: #ff5252;
    --样式集合-填充-辅黄: #ff9a2e;
    --样式集合-填充-辅绿: #4cd263;
    --样式集合-填充-浅1-ffffff: #ffffff;
    --样式集合-填充-浅2-cbd5e1: #cbd5e1;
    --样式集合-填充-浅3-94a3b8: #94a3b8;
    --样式集合-填充-浅4-7e8794: #7e8794;
    --样式集合-填充-深1-0f172a: #0f172a;
    --样式集合-填充-深2-1b2638: #1b2638;
    --样式集合-填充-深3-283242: #283242;
    --样式集合-填充-深4-333e52: #333e52;
    --样式集合-填充-选中-144680: #144680;
    --样式集合-填充-主蓝: #2a8cff;
    --样式集合-填充-主蓝-禁用色: #22599b;
    --样式集合-填充-主蓝-hover色: #127fff;
    --样式集合-文字-12b-font-family: "Source Han Sans CN";
    --样式集合-文字-12b-font-size: 12px;
    --样式集合-文字-12b-font-style: normal;
    --样式集合-文字-12b-font-weight: 700;
    --样式集合-文字-12b-letter-spacing: 0px;
    --样式集合-文字-12b-line-height: 16px;
    --样式集合-文字-12m-font-family: "Source Han Sans CN";
    --样式集合-文字-12m-font-size: 12px;
    --样式集合-文字-12m-font-style: normal;
    --样式集合-文字-12m-font-weight: 500;
    --样式集合-文字-12m-letter-spacing: 0px;
    --样式集合-文字-12m-line-height: 16px;
    --样式集合-文字-12r-font-family: "Source Han Sans CN";
    --样式集合-文字-12r-font-size: 12px;
    --样式集合-文字-12r-font-style: normal;
    --样式集合-文字-12r-font-weight: 400;
    --样式集合-文字-12r-letter-spacing: 0px;
    --样式集合-文字-12r-line-height: 16px;
    --样式集合-文字-14b-font-family: "Source Han Sans CN";
    --样式集合-文字-14b-font-size: 14px;
    --样式集合-文字-14b-font-style: normal;
    --样式集合-文字-14b-font-weight: 700;
    --样式集合-文字-14b-letter-spacing: 0px;
    --样式集合-文字-14b-line-height: 20px;
    --样式集合-文字-14m-font-family: "Source Han Sans CN";
    --样式集合-文字-14m-font-size: 14px;
    --样式集合-文字-14m-font-style: normal;
    --样式集合-文字-14m-font-weight: 500;
    --样式集合-文字-14m-letter-spacing: 0px;
    --样式集合-文字-14m-line-height: 20px;
    --样式集合-文字-14r-font-family: "Source Han Sans CN";
    --样式集合-文字-14r-font-size: 14px;
    --样式集合-文字-14r-font-style: normal;
    --样式集合-文字-14r-font-weight: 400;
    --样式集合-文字-14r-letter-spacing: 0px;
    --样式集合-文字-14r-line-height: 20px;
    --样式集合-文字-16b-font-family: "Source Han Sans CN";
    --样式集合-文字-16b-font-size: 16px;
    --样式集合-文字-16b-font-style: normal;
    --样式集合-文字-16b-font-weight: 700;
    --样式集合-文字-16b-letter-spacing: 0px;
    --样式集合-文字-16b-line-height: 24px;
    --样式集合-文字-16m-font-family: "Source Han Sans CN";
    --样式集合-文字-16m-font-size: 16px;
    --样式集合-文字-16m-font-style: normal;
    --样式集合-文字-16m-font-weight: 500;
    --样式集合-文字-16m-letter-spacing: 0px;
    --样式集合-文字-16m-line-height: 24px;
    --样式集合-文字-16r-font-family: "Source Han Sans CN";
    --样式集合-文字-16r-font-size: 16px;
    --样式集合-文字-16r-font-style: normal;
    --样式集合-文字-16r-font-weight: 400;
    --样式集合-文字-16r-letter-spacing: 0px;
    --样式集合-文字-16r-line-height: 24px;
    --样式集合-文字-2-12b-font-family: "Source Han Sans CN";
    --样式集合-文字-2-12b-font-size: 12px;
    --样式集合-文字-2-12b-font-style: normal;
    --样式集合-文字-2-12b-font-weight: 700;
    --样式集合-文字-2-12b-letter-spacing: 0px;
    --样式集合-文字-2-12b-line-height: 16px;
    --样式集合-文字-2-12m-font-family: "Source Han Sans CN";
    --样式集合-文字-2-12m-font-size: 12px;
    --样式集合-文字-2-12m-font-style: normal;
    --样式集合-文字-2-12m-font-weight: 500;
    --样式集合-文字-2-12m-letter-spacing: 0px;
    --样式集合-文字-2-12m-line-height: 16px;
    --样式集合-文字-2-12r-font-family: "Source Han Sans CN";
    --样式集合-文字-2-12r-font-size: 12px;
    --样式集合-文字-2-12r-font-style: normal;
    --样式集合-文字-2-12r-font-weight: 400;
    --样式集合-文字-2-12r-letter-spacing: 0px;
    --样式集合-文字-2-12r-line-height: 16px;
    --样式集合-文字-2-14b-font-family: "Source Han Sans CN";
    --样式集合-文字-2-14b-font-size: 14px;
    --样式集合-文字-2-14b-font-style: normal;
    --样式集合-文字-2-14b-font-weight: 700;
    --样式集合-文字-2-14b-letter-spacing: 0px;
    --样式集合-文字-2-14b-line-height: 20px;
    --样式集合-文字-2-14m-font-family: "Source Han Sans CN";
    --样式集合-文字-2-14m-font-size: 14px;
    --样式集合-文字-2-14m-font-style: normal;
    --样式集合-文字-2-14m-font-weight: 500;
    --样式集合-文字-2-14m-letter-spacing: 0px;
    --样式集合-文字-2-14m-line-height: 20px;
    --样式集合-文字-2-14r-font-family: "Source Han Sans CN";
    --样式集合-文字-2-14r-font-size: 14px;
    --样式集合-文字-2-14r-font-style: normal;
    --样式集合-文字-2-14r-font-weight: 400;
    --样式集合-文字-2-14r-letter-spacing: 0px;
    --样式集合-文字-2-14r-line-height: 20px;
    --样式集合-文字-2-16b-font-family: "Source Han Sans CN";
    --样式集合-文字-2-16b-font-size: 16px;
    --样式集合-文字-2-16b-font-style: normal;
    --样式集合-文字-2-16b-font-weight: 700;
    --样式集合-文字-2-16b-letter-spacing: 0px;
    --样式集合-文字-2-16b-line-height: 24px;
    --样式集合-文字-2-16m-font-family: "Source Han Sans CN";
    --样式集合-文字-2-16m-font-size: 16px;
    --样式集合-文字-2-16m-font-style: normal;
    --样式集合-文字-2-16m-font-weight: 500;
    --样式集合-文字-2-16m-letter-spacing: 0px;
    --样式集合-文字-2-16m-line-height: 24px;
    --样式集合-文字-2-16r-font-family: "Source Han Sans CN";
    --样式集合-文字-2-16r-font-size: 16px;
    --样式集合-文字-2-16r-font-style: normal;
    --样式集合-文字-2-16r-font-weight: 400;
    --样式集合-文字-2-16r-letter-spacing: 0px;
    --样式集合-文字-2-16r-line-height: 24px;
}

[data-theme="模式-1"] {
    --样式集合-特效-弹层-黑投影: 3px 6px 20px 0px rgba(15, 23, 42, 0.4);
    --样式集合-特效-新-白底小投影: 1px 2px 4px 0px rgba(30, 41, 59, 0.04);
    --样式集合-特效-新-hover投影: 8px 16px 24px 0px rgba(30, 41, 59, 0.06);
    --样式集合-填充-辅红: #ff5252;
    --样式集合-填充-辅黄: #ff9a2e;
    --样式集合-填充-辅绿: #4cd263;
    --样式集合-填充-浅1-ffffff: #ffffff;
    --样式集合-填充-浅2-cbd5e1: #cbd5e1;
    --样式集合-填充-浅3-94a3b8: #94a3b8;
    --样式集合-填充-浅4-7e8794: #7e8794;
    --样式集合-填充-深1-0f172a: #0f172a;
    --样式集合-填充-深2-1b2638: #1b2638;
    --样式集合-填充-深3-283242: #283242;
    --样式集合-填充-深4-333e52: #333e52;
    --样式集合-填充-选中-144680: #144680;
    --样式集合-填充-主蓝: #2a8cff;
    --样式集合-填充-主蓝-禁用色: #22599b;
    --样式集合-填充-主蓝-hover色: #127fff;
    --样式集合-文字-12b-font-family: "Source Han Sans CN";
    --样式集合-文字-12b-font-size: 12px;
    --样式集合-文字-12b-font-style: normal;
    --样式集合-文字-12b-font-weight: 700;
    --样式集合-文字-12b-letter-spacing: 0px;
    --样式集合-文字-12b-line-height: 16px;
    --样式集合-文字-12m-font-family: "Source Han Sans CN";
    --样式集合-文字-12m-font-size: 12px;
    --样式集合-文字-12m-font-style: normal;
    --样式集合-文字-12m-font-weight: 500;
    --样式集合-文字-12m-letter-spacing: 0px;
    --样式集合-文字-12m-line-height: 16px;
    --样式集合-文字-12r-font-family: "Source Han Sans CN";
    --样式集合-文字-12r-font-size: 12px;
    --样式集合-文字-12r-font-style: normal;
    --样式集合-文字-12r-font-weight: 400;
    --样式集合-文字-12r-letter-spacing: 0px;
    --样式集合-文字-12r-line-height: 16px;
    --样式集合-文字-14b-font-family: "Source Han Sans CN";
    --样式集合-文字-14b-font-size: 14px;
    --样式集合-文字-14b-font-style: normal;
    --样式集合-文字-14b-font-weight: 700;
    --样式集合-文字-14b-letter-spacing: 0px;
    --样式集合-文字-14b-line-height: 20px;
    --样式集合-文字-14m-font-family: "Source Han Sans CN";
    --样式集合-文字-14m-font-size: 14px;
    --样式集合-文字-14m-font-style: normal;
    --样式集合-文字-14m-font-weight: 500;
    --样式集合-文字-14m-letter-spacing: 0px;
    --样式集合-文字-14m-line-height: 20px;
    --样式集合-文字-14r-font-family: "Source Han Sans CN";
    --样式集合-文字-14r-font-size: 14px;
    --样式集合-文字-14r-font-style: normal;
    --样式集合-文字-14r-font-weight: 400;
    --样式集合-文字-14r-letter-spacing: 0px;
    --样式集合-文字-14r-line-height: 20px;
    --样式集合-文字-16b-font-family: "Source Han Sans CN";
    --样式集合-文字-16b-font-size: 16px;
    --样式集合-文字-16b-font-style: normal;
    --样式集合-文字-16b-font-weight: 700;
    --样式集合-文字-16b-letter-spacing: 0px;
    --样式集合-文字-16b-line-height: 24px;
    --样式集合-文字-16m-font-family: "Source Han Sans CN";
    --样式集合-文字-16m-font-size: 16px;
    --样式集合-文字-16m-font-style: normal;
    --样式集合-文字-16m-font-weight: 500;
    --样式集合-文字-16m-letter-spacing: 0px;
    --样式集合-文字-16m-line-height: 24px;
    --样式集合-文字-16r-font-family: "Source Han Sans CN";
    --样式集合-文字-16r-font-size: 16px;
    --样式集合-文字-16r-font-style: normal;
    --样式集合-文字-16r-font-weight: 400;
    --样式集合-文字-16r-letter-spacing: 0px;
    --样式集合-文字-16r-line-height: 24px;
    --样式集合-文字-2-12b-font-family: "Source Han Sans CN";
    --样式集合-文字-2-12b-font-size: 12px;
    --样式集合-文字-2-12b-font-style: normal;
    --样式集合-文字-2-12b-font-weight: 700;
    --样式集合-文字-2-12b-letter-spacing: 0px;
    --样式集合-文字-2-12b-line-height: 16px;
    --样式集合-文字-2-12m-font-family: "Source Han Sans CN";
    --样式集合-文字-2-12m-font-size: 12px;
    --样式集合-文字-2-12m-font-style: normal;
    --样式集合-文字-2-12m-font-weight: 500;
    --样式集合-文字-2-12m-letter-spacing: 0px;
    --样式集合-文字-2-12m-line-height: 16px;
    --样式集合-文字-2-12r-font-family: "Source Han Sans CN";
    --样式集合-文字-2-12r-font-size: 12px;
    --样式集合-文字-2-12r-font-style: normal;
    --样式集合-文字-2-12r-font-weight: 400;
    --样式集合-文字-2-12r-letter-spacing: 0px;
    --样式集合-文字-2-12r-line-height: 16px;
    --样式集合-文字-2-14b-font-family: "Source Han Sans CN";
    --样式集合-文字-2-14b-font-size: 14px;
    --样式集合-文字-2-14b-font-style: normal;
    --样式集合-文字-2-14b-font-weight: 700;
    --样式集合-文字-2-14b-letter-spacing: 0px;
    --样式集合-文字-2-14b-line-height: 20px;
    --样式集合-文字-2-14m-font-family: "Source Han Sans CN";
    --样式集合-文字-2-14m-font-size: 14px;
    --样式集合-文字-2-14m-font-style: normal;
    --样式集合-文字-2-14m-font-weight: 500;
    --样式集合-文字-2-14m-letter-spacing: 0px;
    --样式集合-文字-2-14m-line-height: 20px;
    --样式集合-文字-2-14r-font-family: "Source Han Sans CN";
    --样式集合-文字-2-14r-font-size: 14px;
    --样式集合-文字-2-14r-font-style: normal;
    --样式集合-文字-2-14r-font-weight: 400;
    --样式集合-文字-2-14r-letter-spacing: 0px;
    --样式集合-文字-2-14r-line-height: 20px;
    --样式集合-文字-2-16b-font-family: "Source Han Sans CN";
    --样式集合-文字-2-16b-font-size: 16px;
    --样式集合-文字-2-16b-font-style: normal;
    --样式集合-文字-2-16b-font-weight: 700;
    --样式集合-文字-2-16b-letter-spacing: 0px;
    --样式集合-文字-2-16b-line-height: 24px;
    --样式集合-文字-2-16m-font-family: "Source Han Sans CN";
    --样式集合-文字-2-16m-font-size: 16px;
    --样式集合-文字-2-16m-font-style: normal;
    --样式集合-文字-2-16m-font-weight: 500;
    --样式集合-文字-2-16m-letter-spacing: 0px;
    --样式集合-文字-2-16m-line-height: 24px;
    --样式集合-文字-2-16r-font-family: "Source Han Sans CN";
    --样式集合-文字-2-16r-font-size: 16px;
    --样式集合-文字-2-16r-font-style: normal;
    --样式集合-文字-2-16r-font-weight: 400;
    --样式集合-文字-2-16r-letter-spacing: 0px;
    --样式集合-文字-2-16r-line-height: 24px;
}
